.clickItem {
  background-size: cover;
  background-position: 50%;
  background-position-x: 50%;
  background-position-y: center;
  height: 170px;
  width: 170;
  margin: 8px 25px;
  margin-top: 8px;
  margin-right: 25px;
  margin-bottom: 8px;
  margin-left: 25px;
  border: 2px solid rgb(4, 4, 43);
  box-shadow: 0 3px 6px black;
  cursor: pointer;
}
